<?xml version="1.0"?>

<model>
  <name>Koutzi-UG-Mine-small</name>
  <version>1.0</version>

  <sdf>model.sdf</sdf>

  <author>
    <name>Theodore Frantzis</name>
    <email>theodorefrantzis@gmail.com</email>
  </author>

  <description>
    The abandoned Koutzi underground mine reformed to be approx 2x2.
  </description>

</model>
