<?xml version="1.0"?>

<model>
  <name>Koutzi-UG-Mine-deformed-and-rockfall</name>
  <version>1.0</version>

  <sdf>model.sdf</sdf>

  <author>
    <name>Theodore Frantzis</name>
    <email>Theodore Frantzis</email>
  </author>

  <description>
    The abandoned Koutzi underground mine with deformities and rockfall.
  </description>

</model>
